.buttonDiv {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
}
.btnAdd {
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    background-color: rgb(105, 230, 105);
    font-size: 15px;
}

.btnDel {
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    background-color: rgb(190, 77, 77);
    font-size: 15px;
}

.btnAdd:hover {
    cursor: pointer;
}

.btnDel:hover {
    cursor: pointer;
}
